@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fa0;
background-image: "data:image/svg+xml,%3Csvg xmlns='https://www.w3.org/2000/svg'";
background-attachment: fixed;
background-size: cover;

}